# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# 구름 관련 설정
goorm.manifest

#빌드 관련 설정
Gurungi

temp.cpp
test.cpp
test.txt
.vscode/
*.log
.idea/
Helloworld.gu
.DS_store
cmake-build-debug/
build/
cmake-build-gurungi/
